* { 
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
    color: inherit;
}

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* HEADER */

html, body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    background-color: #CB9CF7;
    overflow-x: hidden;
}

header{
    width: 100%;
    height: 23vh;
}

header nav{
    display: flex;
    justify-content: space-between;
    padding-inline: 3%;
    padding-top: 2%;
    height: 11vh;
    text-align: end;
}

header .navegacao{
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-size: 3.5vh;
    color: #FFFFFF;
    display: flex;
    align-self: end;
    padding-bottom: 2.5vh
}

header .homeTitle{
    display: flex;
    gap: 1vh;
}

header .homeTitle h1{
    font-size: 7vh;
    font-family: "Kanit", sans-serif;
    font-weight: 800;
}

header .homeTitle img{
    height: 3vh;
}

header .homeTitle a{
    display: flex;
    align-items: end;
    padding-bottom: 10%;
}

header .searchBar{
    width: 30%;
    background-color: #D1D1D1;
    justify-self: center;
    height: 8vh;
    border-radius: 7vw;
    display: flex;
    align-items: center;
}

header .searchBar button {
    all: unset;
    padding-left: 1.5vw;
    padding-right: 2vh;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3s ease-in;/
}

header .searchBar button:hover {
    opacity: 0.6; 
    transition: opacity 0.3s ease-out;
}

header .searchBar button img{
    height: 3.1vh;
}

header .searchBar #musica{
    all: unset;
    background-color: transparent;
    font-size: 2.5vh;
    height: 100%;
    width: 80%;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    padding-bottom: 0.5vh;
}

/* MAIN */

main .categorias{
    width: 100%;
    border-bottom: 1.5px solid #765299;
    height: 5vh;
    display: flex;
    justify-content: center;
}

main .categorias section{
    height: 100%;
    width: 70%;
    display: flex;
    align-items: end;
    justify-content: space-between;
}

main .categorias section h1{
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-size: 2.5vh;
}



/* FOOTER */

/* footer{
    align-self: end;
    display: flex;
    align-items: end;
    height: ;
} */


